<div ng-controller='DemoCtrl'>
    <span>
	    <div 	dropdown-select="attrOptions" 
	    			dropdown-model="attrForX" 
	    			dropdown-item-label="attrName"
	    			dropdown-onchange="axisChange('x')">
	    </div>
    <span>
    <span>
	    <div 	dropdown-select="attrOptions" 
	    			dropdown-model="attrForY" 
	    			dropdown-item-label="attrName"
	    			dropdown-onchange="axisChange('y')">
	    </div>
    <span>
    <p>{{attrForX.value}}</p>
    <br>
    <p>{{attrForY.value}}</p>


    <nvd3-scatter-chart
            data="data"
            id="exampleId"
            width="1200"
            height="400"
            margin="{left:150,top:100,bottom:100,right:150}"
            tooltips="true"
            interactive="true"
            shape="getShapeCircle()"
            showDistX="true"
            showDistY="true"
            showLegend="true"
            xaxistickformat="axistickformatFunction()"
            yaxistickformat="axistickformatFunction()"
						>

        <svg></svg>
    </nvd3-scatter-chart>
    
</div>