<div id="scattercontainer" ng-controller='stockCtrl'>
    <div id="axispicker">
        <label class="pull-left control-label">X axis:</label>
        <div dropdown-select="attrOptions" dropdown-model="attrForX" dropdown-item-label="attrName" dropdown-onchange="axisChange('x')" class="pull-left ">
        </div>
        <label class="pull-left control-label">Y axis:</label>
        <div dropdown-select="attrOptions" dropdown-model="attrForY" dropdown-item-label="attrName" dropdown-onchange="axisChange('y')" class="pull-left ">
        </div>
    </div>

    <div class="alert alert-info" ng-show="showPlaceholder">Loading data...</div>
    <div class="alert alert-warning" ng-show="showError">Data loading error</div>

    <nvd3-scatter-chart data="data" id="exampleId" width="1000" height="400" margin="{left:100,top:100,bottom:100,right:100}" tooltips="true" interactive="true" showDistX="true" showDistY="true" showLegend="true" xaxistickformat="axistickformatFunction()" yaxistickformat="axistickformatFunction()" tooltipContent="tooltipContentFunction()" xaxislabel="attrForX.value" yaxislabel="attrForY.value" shape="getShape()" callback="callbackFunction()">
        <svg></svg>

    </nvd3-scatter-chart>

</div>