<div id="scattercontainer" ng-controller='stockRGCtrl'>

    <div class="alert alert-info" style="width:1000px">
        <strong>NOTE: the stock close price presented by the Y locations in this plot are NOT a result of prediction</strong>
    </div>

    <nvd3-scatter-chart data="data" id="exampleId" width="1000" height="400" margin="{left:100,top:100,bottom:100,right:100}" tooltips="true" interactive="true" showDistX="true" showDistY="true" showLegend="true" xaxistickformat="xAxistickformatFunction()" yaxistickformat="yAxistickformatFunction()" tooltipContent="tooltipContentFunction()" xaxislabel="attrForX.value" yaxislabel="attrForY.value" shape="getShape()" callback="callbackFunction()">
        <svg></svg>

    </nvd3-scatter-chart>

</div>